@{
    ViewData["Title"] = "Welcome Page";
}

<div>
    <p>Manage my <a asp-controller="Party" asp-action="GetAllParties">parties</a> or <a asp-controller="Party" asp-action="GetAddPartyRequest">add a new party</a></p>
</div>
