@model Party

@{
    ViewData["Title"] = "Add a new party";
}

<form asp-controller="Party" asp-action="AddNewParty" method="post" enctype="application/x-www-form-urlencoded">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="EventDate">Date of party</label>
        <input type="datetime" asp-for="EventDate" class="form-control" value="@(Model.EventDate?.ToString("d"))" />
    </div>

    <div class="form-group">
        <label asp-for="Location">Location</label>
        <input type="text" asp-for="Location" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-2 mb-5">Add</button>
    <a asp-controller="Party" asp-action="GetAllParties" class="btn btn-primary mt-2 mb-5">Cancel</a>
</form>